body{
    margin: 0;
    text-align: center;
    background-color: #323232;
    color: #FFFFFF;
}

hr{
    border-top: 1px dotted #FFFFFF;
}

.about-div{
    text-align: left;
}

.contact-btn{
    background-color: #0d7377;
    border-color: #0d7377;
}

.header-div {
    position: relative;
    color: #393E46;
    background-color: #212121;
    color: #FFFFFF;
}

.profile-picture{
    border-radius: 50%;
}

.section-split{
    padding-top: 50px;
}

.skills-list{
    columns: 3
}